.container {
  margin-top: 30px;
  width: 95%;
}

.headerContainer {
  display: flex;
}

.headerContainer p {
  margin-top: auto;
  margin-bottom: auto;
}

.isOnGoing {
  color: #ff9800;
}

.isPast {
  color: #4caf50;
}

.leaderBoardContainer {
  margin-top: 30px;
}

.tabContainer {
  overflow: auto;
  white-space: nowrap;
}

.lineContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 26px;
}
